<div class="w3-bar w3-light-black">
 <a href="/" class="w3-highway-red w3-button">Home</a>
 <a href="signup" class="w3-bar-item w3-button"> Signup</a>

    <input type="text" class="form-control" placeholder="Search">
    <div class="input-group-btn">

      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"> Search
        </i>
      </button>
    </p>
    </div>
  </div>
</p>



<!--
<input type="text" class="w3-bar-item w3-input" placeholder="Search..">
<a href="#" class="w3-bar-item w3-button w3-green">Go</a>
