

<!-- <form class="form" ng-submit="register()"> -->


<div class="w3-display-bottomleft w3-container w3-xlarge" ng-controller="usersignupCtrl">

  
         <br></br>
              <!-- <label class="w3-label w3-black "> Name</label> -->
            <p>  <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" name="name" ng-model="registerForm.username" required></p>
       

               <!-- <label class="w3-label w3-black ">Password</label> -->
             <p> <input class="w3-input w3-padding-16 w3-border" type="password" placeholder="Password" name="password" ng-model="registerForm.password" required></p>


            <!-- <label class="w3-label w3-black ">Address</label> -->
             <p> <input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Address" name="address" ></p>

            <!-- <label class="w3-label w3-black ">Phone number</label> -->
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Phone Number" name="enter your phone number" ></p>

            <!-- <label class="w3-label w3-black ">Email</label> -->
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" name="email" ></p>
 
     
            <p> <button ng-click="Submit()" class="w3-button w3-black">Register</button></p>
<br></br>

          </div>
          <!-- </form> -->

