<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <h1 class=" fa fa-user"> Profile</h1><br>

            <p><a href = "/reviews"> Write Reviewsss</a></p>
            <p><a href = "/ratings"> Rate servicess</a></p>
            <p><a href = "/allservices"> The published packages</a></p>
            <p><a href = "/search"> Search for Businesses </a></p>

      <p>
        <span class="fa fa-sign-out"><a href="/"> Sign out</a></span>
      </p>
        <hr>


      </div>
    </div>
  </body>
</html>
