<html>

<body>
	<form action = "/search" method="GET" class="form-inline">
  		<div class="form-group">

  		<input type="text" name="search" placeholder = "Search by business name..." class ="form-control">
  		<button type="search">Search</button>
  		
  		</div> 
	</form>
</body>

</html>